In [3]:
import pandas as pd

In [4]:
housing_file_path= r"C:\Users\USER\Downloads\data.csv"
z=pd.read_csv(housing_file_path)
z.head

<bound method NDFrame.head of           Unnamed: 0         price  bedrooms  bathrooms  sqft_living  \
0      5/2/2014 0:00  3.130000e+05         3       1.50         1340
1      5/2/2014 0:00  2.384000e+06         5       2.50         3650
2      5/2/2014 0:00  3.420000e+05         3       2.00         1930
3      5/2/2014 0:00  4.200000e+05         3       2.25         2000
4      5/2/2014 0:00  5.500000e+05         4       2.50         1940
...              ...           ...       ...        ...          ...
4595   7/9/2014 0:00  3.081667e+05         3       1.75         1510
4596   7/9/2014 0:00  5.343333e+05         3       2.50         1460
4597   7/9/2014 0:00  4.169042e+05         3       2.50         3010
4598  7/10/2014 0:00  2.034000e+05         4       2.00         2090
4599  7/10/2014 0:00  2.206000e+05         3       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]>

In [5]:
z.columns

Index(['Unnamed: 0', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [6]:
z.describe

<bound method NDFrame.describe of           Unnamed: 0         price  bedrooms  bathrooms  sqft_living  \
0      5/2/2014 0:00  3.130000e+05         3       1.50         1340
1      5/2/2014 0:00  2.384000e+06         5       2.50         3650
2      5/2/2014 0:00  3.420000e+05         3       2.00         1930
3      5/2/2014 0:00  4.200000e+05         3       2.25         2000
4      5/2/2014 0:00  5.500000e+05         4       2.50         1940
...              ...           ...       ...        ...          ...
4595   7/9/2014 0:00  3.081667e+05         3       1.75         1510
4596   7/9/2014 0:00  5.343333e+05         3       2.50         1460
4597   7/9/2014 0:00  4.169042e+05         3       2.50         3010
4598  7/10/2014 0:00  2.034000e+05         4       2.00         2090
4599  7/10/2014 0:00  2.206000e+05         3       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]>

In [7]:
y=z.price

In [8]:
X=z[["bedrooms","bathrooms","sqft_lot"]]

In [9]:
X.describe

<bound method NDFrame.describe of       bedrooms  bathrooms  sqft_lot
0            3       1.50      7912
1            5       2.50      9050
2            3       2.00     11947
3            3       2.25      8030
4            4       2.50     10500
...        ...        ...       ...
4595         3       1.75      6360
4596         3       2.50      7573
4597         3       2.50      7014
4598         4       2.00      6630
4599         3       2.50      8102

[4600 rows x 3 columns]>

In [10]:
X.head()

   bedrooms  bathrooms  sqft_lot
0         3       1.50      7912
1         5       2.50      9050
2         3       2.00     11947
3         3       2.25      8030
4         4       2.50     10500

In [11]:
X

      bedrooms  bathrooms  sqft_lot
0            3       1.50      7912
1            5       2.50      9050
2            3       2.00     11947
3            3       2.25      8030
4            4       2.50     10500
...        ...        ...       ...
4595         3       1.75      6360
4596         3       2.50      7573
4597         3       2.50      7014
4598         4       2.00      6630
4599         3       2.50      8102

[4600 rows x 3 columns]

In [12]:
X

      bedrooms  bathrooms  sqft_lot
0            3       1.50      7912
1            5       2.50      9050
2            3       2.00     11947
3            3       2.25      8030
4            4       2.50     10500
...        ...        ...       ...
4595         3       1.75      6360
4596         3       2.50      7573
4597         3       2.50      7014
4598         4       2.00      6630
4599         3       2.50      8102

[4600 rows x 3 columns]

In [1]:
from sklearn.metrics import mean_absolute_error
from sklearn.model import train_test_split

from sklearn.model_selection import LinearRegression

X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state=42)
z_model=LinearRegression()
z_model.fit(X_train,y_train)
y_pred=z_model.predict(X_test)

ModuleNotFoundError: No module named 'sklearn.model'

In [14]:
mse=mean_absolute_error(y_test,y_pred)
print(mse)

NameError: name 'y_pred' is not defined

In [83]:
from sklearn.metrics import mean_squared_error

mae=mean_squared_error(y_test,y_pred)
print(mae)

995603018288.742

In [84]:
import numpy as np
rmse=np.sqrt(mse)
print(rmse)

499.3960230282114